name: Documentation

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'errata1.md'
  push:
    paths-ignore:
      - 'README.md'
      - 'errata1.md'
    branches:
      - 'main'
      - 'release-'
    tags: '*'

jobs:
  build:
    # These permissions are needed to:
    # - Deploy the documentation: https://documenter.juliadocs.org/stable/man/hosting/#Permissions
    # - Delete old caches: https://github.com/julia-actions/cache#usage
    permissions:
      actions: write
      contents: write
      pull-requests: read
      statuses: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1'
      - uses: julia-actions/cache@v2
      - name: InstallDependencies
        shell: julia --color=yes --project=docs {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - name: BuildAndDeploy
        run: julia --color=yes --project=docs docs/make.jl
        env:
# https://juliadocs.github.io/Documenter.jl/stable/man/hosting/#Authentication:-GITHUB_TOKEN
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # for previews
          ssh: ${{ secrets.DOCUMENTER_KEY }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
